.card-container {
  margin: 3rem auto;

  .card-item {
    width: 37rem;
    height: 37rem;
    color: $color-4;
    background-color: $color-2;
    border-radius: 1rem;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }
  }

  .gameCoverImg {
    width: 100%;
    height: 20rem;
    border-radius: 1rem 1rem 0 0;
  }

  .infoWrapper {
    padding: 1.5rem;

    .infoContainer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 1.6rem;
      margin-bottom: 0.7rem;
      text-transform: capitalize;

      ul {
        display: flex;

        li {
          margin-right: 1rem;
          font-size: 1.8rem;
        }
      }

      p {
        border: 1px solid $color-1;
        padding: 0.3rem 0.6rem;
        color: $color-1;
        border-radius: 0.6rem;
      }
    }

    .gameTitle {
      font-size: 2.5rem;
      cursor: pointer;
      margin-bottom: 0.7rem;

      &:hover {
        opacity: 0.5;
      }
    }

    .ratingsContainer {
      display: flex;

      .ratingBtn {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.5rem 1rem;
        cursor: pointer;
        background-color: $color-3;
        color: $color-4;
        outline: none;
        border: none;
        border-radius: 0.5rem;
        margin-right: 0.5rem;
        transition: all 0.2s ease-in-out;

        &:hover {
          background-color: $color-4;
          color: $color-3;
        }

        i {
          margin-right: 0.5rem;
        }
      }
    }
  }
}
